.time-table {
    margin: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding:5px;
  }
  
  tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }
  
  th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }

header h1.title {
    text-align: center;
    margin: 45px;
}
footer {
    height: 6rem;
}
footer h1.title {
    text-align: center;
    margin: 45px;
}
